<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<body>

<form method="post" enctype="multipart/form-data" class="basic-grey">
    <div align="center">
        <h1>HDI Investment Report Generator</h1>
    </div>
    <p>
        <h1 style="font-size:25px">Atualizações de Mercado - Mensal</h1>
    </p>
    <p>
        <label>BMF - Numeraca</label>
        {% csrf_token %}<button id="0" name="bmf_numeraca" class="button" type="submit">
            <span>Send</span>
        </button>
    </p>

    <p>
        <label>BMF - Cotações Históricas</label>
        {% csrf_token %}<button id="1" name="bmf_cotacoes_historicas" class="button" type="submit">
            <span>Send</span>
        </button>
    </p>

    <p>
        <label>XXXX</label>
        {% csrf_token %}<button id="2" name="XXXX" class="button" type="submit">
            <span>Send</span>
        </button>
    </p>

    <p>
        <label>XXXX</label>
        {% csrf_token %}<button id="3" name="XXXX" class="button" type="submit">
            <span>Send</span>
        </button>
    </p>

    <p>
        <label>XXXX</label>
        {% csrf_token %}<button id="4" name="XXXX" class="button" type="submit">
            <span>Send</span>
        </button>
    </p>

    <p>
        <label>XXXX</label>
        {% csrf_token %}<button id="5" name="XXXX" class="button" type="submit">
            <span>Send</span>
        </button>
    </p>

    <p>
        <label>XXXX</label>
        {% csrf_token %}<button id="6" name="XXXX" class="button" type="submit">
            <span>Send</span>
        </button>
    </p>

</form>

</body>
</html>