
{% extends 'marketdb/Template EY.html' %}

{% block content %}

<form method="post">
    <div align="center">

       <table class="table table-hover table-bordered table-condensed" align="center">
            <thead style = "color:black;background-color:#e0e0e0">
                <tr>
                    <td>ID Rotina</td>
                    <td>Nome Rotina</td>
                    <td>Descrição Rotina</td>
                    <td>Tempo Execução</td>
                    <td>Data da Última Execução</td>
                    <td>Execução</td>
                </tr>
            </thead>
            <tbody>
                {% for rotine in ExecutionDashboard %}
                <tr>
                    <td>{{ rotine.id }}</td>
                    <td>{{ rotine.nome_rotina }}</td>
                    <td>{{ rotine.descricao_rotina }}</td>
                    <td>{{ rotine.tempo_execucao }}</td>
                    <td>{{ rotine.end_time }}</td>
                    <td>{% csrf_token %}<button onclick="showDivAttid()" id={{ forloop.counter0 }} name={{ rotine.nome_execucao_rotina }} class="button" type="submit">
                            <span>Send</span></button>
                    </td>
                </tr>
            {% endfor%}

            {% if control_status == 1 %}
                <alert>Rotina executada com sucesso!</alert>
            {% endif %}

            </tbody>
        </table>
    </div>

</form>
{% endblock %}

    </form>

</body>

</html>